
.navbar-inverse{
	background: rgba(0,0,0);	
	width:100%;
	position: relative;
	height:80px;
}


#title ul li{
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	font-size:15px;
	color: white;	
	font-weight: bold;
	text-transform: uppercase;
}

.navbar-header a{
	font-family: 'Montserrat', sans-serif;
	font-size:40px;
	color:white;
	font-weight:bold;
	line-height: 65px;
}

.disp{
	display: flex;
	color:white;
	text-transform: uppercase;
	font-size:30px;
	font-weight: bold;
	line-height: 40px;
	padding:20px;
}

#title{
	margin-right: 0;
}

.red{
	background: red;
}
.head{
	height:80px;
}

.content{
	background: url("img/home.jpg");
	max-width: 100%;
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
}

footer{
	height:50px;
	color:white;
	background: black;
}