body{
	background: url("img/intro-bg_1.jpg");
	width:100%;
}

.navbar-inverse{
	background: rgba(0,0,0,0.7);
}

.text{
	width:100%;
	margin-top: 210px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.text h4{
	color:black;
	font-size:40px;
	font-weight:bold;
}

.text h1{
	color:black;
	font-size:70px;
	font-weight:bold;
}

.text h3{
	color:black;
	font-size:20px;
	font-weight:bold;
	margin-bottom:20px;
}

#btn1{
	padding:10px;
	font-size:15px;
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-right:10px;
	background:white;
	border:2px solid black;
}

#btn2{
	padding:10px;
	font-size:15px;
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	background:white;
	border:2px solid black;
}

#title ul li{
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	font-size:10px;
	color: white;	
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
	padding:10px;
	margin-right:0px;
}

.navbar-header a{
	font-family: 'Montserrat', sans-serif;
	font-size:40px;
	color:white;
	font-weight:bold;
	line-height: 65px;
}

